/* Global */

@import url('https://fonts.googleapis.com/css?family=Questrial');

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Questrial, sans-serif;
}

.container {
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 0 2em;
    height: 100%;
}
/* Navigation */

#page {
    margin-bottom: 0;
    font-size: 1.2em;
}

#about,
#contact,
.project-item,
#name,
#work {
    font-size: 1.2em;
    color: black;
}

#name {
    font-size: 1.7em;
    position: absolute;
    right: 0em;
}

.about-contact-div,
.logo {
    display: flex;
    flex-direction: row;
    text-align: end;
}

#about:hover,
#contact:hover,
.project-item:hover,
#name:hover,
#work:hover {
    text-decoration: line-through;
}

.project-item,
.divider {
    font-size: 2em;
    font-weight: 600;
}

.nav {
    border-bottom: 1px solid black;
}

.logo {
    text-align: end;
}

#about,
#work,
#contact {
    padding: 0.3em;
}

/* Webkit Animations */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

.swing-in-left-bck {
	-webkit-animation: swing-in-left-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left2 {
	-webkit-animation: slide-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left3 {
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes tracking-in-expand {
0% {
    letter-spacing: -0.5em;
    opacity: 0;
}
40% {
    opacity: 0.6;
}
100% {
    opacity: 1;
}
}

@-webkit-keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  @keyframes swing-in-left-bck {
    0% {
      -webkit-transform: rotateY(-70deg);
              transform: rotateY(-70deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-left2 {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left2 {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-left3 {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left3 {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

/* Landing */

#landing-img {
    width: 100%;
    height: 80%;
}

#line1 {
    border-bottom: 0.7px solid #000;
}

.landing {
    position: relative;
    text-align: center;
    margin-top: 5em;
}

.mouse {
    display: block;
    width: 28px;
    height: 48px;
    border-radius: 11px 11px 15px 15px;
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    margin-left: -13px;
    z-index: 9999;
    margin-top: 15%;
  }
  
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 5px;
    border-radius: 4px;
    background: #000;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      }
  }

  #developer {
      color: rgb(173, 173, 173);
      font-size: 0.7em;
      position: relative;
      left: 0.7em;
  }

  #info {
      margin-top: 2em;
  }

  .footer {
      border-top: 0.02px solid black;
      text-align: center;
      padding-top: 2.2em;
  }

/* Main display */

#OTPYG {
    width: 100%;
    position: relative;
    top: 30em;

}

.project1-logo {
   margin-top: 28em;
   padding-left: 2em;
}

#project1-info {
    text-align: end;
    position: relative;
    top: 12em;
}

#website,
#code {
    padding: 0.2em;
    position: relative;
    top: 12em;
    right: 0em;
}

.index-link {
  color: rgb(106, 151, 202);
}

.index-link:hover {
  text-decoration: line-through;
}

/* About */

#front-end-text {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

#back-end-text {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    font-size: 3em;
}

#html {
    color: rgb(219, 108, 4);
    padding-right: 0.1em;
}

#css {
    color: rgb(54, 120, 207);
    padding-right: 0.1em;
}

#javascript {
    color: rgb(241, 211, 75);
    padding-right: 0.1em;
}

#react {
    color: rgb(84, 240, 240);
    padding-right: 0.1em;
}

#node {
    color: rgb(118, 155, 63);
    padding-right: 0.2em;
}

#server {
    color: rgb(119, 119, 139);
    padding-right: 0.2em;
}

#php {
    color: rgb(47, 47, 110);
    padding-right: 0.2em;
}

#front-end-icons {
    text-align: center;
    margin-top: 4em;
}

li {
    padding: 5px;
    margin-left: 2em;
}

#back-end-info {
    margin: 0;
}

.back-end-div {
    margin-top: 3em;
    border-top: 0.4px solid black;
    padding-top: 3em;
}

#back-end-icons {
    text-align: center;
}

.misc {
    border-top: 0.3px solid black;
    margin-top: 3em;
}

#misc-title {
    text-align: center;
}

#misc-icons {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}


#code-file {
    color: black;
    padding-right: 0.2em;
    padding-bottom: 0.4em;
}

#database {
    color: darkgreen;
    padding-right: 0.2em;
}

#google {
    width: 130px;
    height: 130px;
    padding-right: 0.7em;
}


#instagram {
    width: 150px;
    height: 150px;
    position: relative;
    top: -10px;
}

#still-curious {
    text-align: center;
    margin-top: 4em;
}

#still-curious2 {
    text-align: center;
}

#instagram-logo {
    width: 50px;
    position: relative;
    top: 0.5em;
}

#personal-icon {
    text-align: center;
}

#github {
    color: black;
}

.tech-link {
  color: rgb(179, 34, 34);
}

.tech-link:hover {
  text-decoration: line-through;
}

/* works */

.navi {
    color: white;
}



#OTPYG-gif {
    width: 100%;
    padding-top: 7em;
}

#OTPYG-logo {
    width: 50%;
}

.project1-info {
    text-align: center;
}

.project1-image,
.project2-image {
    text-align: center;
}

.info {
    font-size: 1.4em;
}

.technologies {
    font-size: 1.2em;
    text-decoration: underline;
    padding-top: 2em;
}

.tech-btn {
    background-color: rgb(81, 81, 230);
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 0.7em;
}

.tech-btn:hover {
    background-color: rgb(211, 116, 28);
    -webkit-animation: shadow-pop-tr 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

}

.project2,
.project3 {
    border-top: 0.3px solid black;
}

.project3 {
  padding-top: 3rem;
}

#blowfish-gif {
    width: 100%;
    margin-top: 5em;
}

#blowfish-cartoon-gif {
    width: 25%;
    margin-top: 2em;
}

#bank-img {
  width: 100%;
}

#bank-logo {
  width: 100%;
}

.project2-info {
    text-align: center;
}

#website-link,
#github-link {
    color: black;
    margin-top: 2em;
    padding: 1em;
    font-size: 1.1em;
}

/*Contact*/

.keywords {
  color: rgb(211, 39, 39);
}

.contact-link {
  margin-left: 5px;
  color: rgb(211, 39, 39);
}

.contact-form {
  margin-bottom: 5em;
}

@media screen and (max-width: 700px) {
  #code-file, 
  #database,
  #google,
  #instagram,
  #html,
  #css,
  #javascript,
  #react,
  #node,
  #server {
    display: none;
  }

  .project1,
  .project2 {
    display: flex;
    flex-direction: column;
  }

  .row .col.s6 {
    width: 100%;
  }


}